@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --dark-pink: #ec4c8a;
  --light-pink: #fc5193;
}

*,
p {
  margin: 0;
  padding: 0;
}

body,
.card {
  background-color: var(--light-pink);
}

.dropdown,
.dropdown:hover {
  background-color: var(--dark-pink);
  border: none;
  outline: none;
}

.show > .btn-primary.dropdown-toggle,
.show > .btn-primary.dropdown-toggle:focus,
.btn-primary:focus {
  background-color: var(--dark-pink);
  box-shadow: 0 0 0 0 var(--dark-pink);
  border: none;
}

a,
a:hover {
  color: white;
  text-decoration: none;
}

.App {
  font-family: 'Lato', sans-serif;
}

.navbar {
  padding: 10px;
  background-color: var(--dark-pink);
}
